
body{
    text-align: center;
    background-color: black;
}
.logoText{
    display: inline-block;
}
.nav-item{
    font-weight: bold;
    list-style-type: none;
    display:inline-block ;
    margin-left: 7%;    
    
}

nav{

    /* height: 70px; */
    width: 80%;
    background-color: yellow;
    margin-left: 8%;
    margin-top: 20px;
        
}
.ul{
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-left: 10%;
}
#lodo{
    /* margin-left: 30%; */
    display: inline-block;
    position: absolute;
    background-color: white;
    left:10%;
    top: 6px;
    
}
#navbarNav{
    display: inline-block;
    
}
#navul{
    /* margin-left: 45%; */
    padding-left: 0px;   
    
}
.slide{
    /* background-color: white; */
    /* margin-top: 10px; */
}
.slideText{
    font-size: 60px;
    text-align: left;
    margin-left: 10%;
    color: yellow;
    margin-bottom: 0px;
}
.slideText2{
    font-size: 45px;
    margin-top: 0px;
    text-align: left;
    margin-left: 10%;
    color: yellow;
    margin-bottom: 0px;
}
.slideLine{
    color: gray;
    font-size: 16px;
    text-align: left;
    margin-left: 22%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.phone{
    color: gray;
    font-size: 20px;
    text-align: left;
    margin-left: 22%;
    
    margin-top: 0px;
}
.images{
    background-color: yellow;
    width: 80%;
    margin-left: 8%;
}
.image1{
    width: 30%;     
}
.image2{
    width: 30%;
}
.image3{
    width: 30%;
}
.images div{
    display: inline-block;
}
.more{
    background-color: white;
}
.service{
    margin-top: 10px;
    color: gray;
    
}
.work{
    width: 30%;     
    vertical-align:text-top ;
}
.about{
    width: 30%;
    vertical-align:text-top ;
    
}

.work ul {
    list-style: none;
  }
  
.work ul li:before {
    content: '✓';
  }
.about h3{
    color: white;
}
.about p{
    text-align: left;
}
.find{
    width: 30%;
    vertical-align:text-top ;
}
.service div{
    display: inline-block;
}
select{
    margin-top: 10px;
    background-color: gray;
    color: white;
}
footer p{
    text-align: right;
    background-color: gray;
}